<div class="container p-5 mt-4">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">username</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Username"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Password"
    />
  </div>
  <button class="btn btn-dark" (click)="login()">Login</button>
</div>
