<div class="bg-light p-5 text-center">
  <div class="container">
    <h2>Our Products</h2>
    <p class="lead mb-5">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque,
      quibusdam.
    </p>
    <div class="row">
      <app-product-item class="col-sm-6 col-md-3"></app-product-item>
      <app-product-item class="col-sm-6 col-md-3"></app-product-item>
      <app-product-item class="col-sm-6 col-md-3"></app-product-item>
      <app-product-item class="col-sm-6 col-md-3"></app-product-item>
    </div>
  </div>
</div>
