<div class="bg-light p-5 text-center">
    <h2>Our Products</h2>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                        <button class="btn btn-info mx-1">edit</button>
                        <button class="btn btn-danger mx-1">delete</button>
                        <button class="btn btn-warning mx-1">view</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>