<div class="bg-light p-5 text-center">
  <h2>Our Products</h2>
  <div class="container">
    <a [routerLink]="['/products/0/edit']" class="btn btn-outline-primary m-3"
      >Add New Product</a
    >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{ product.id }}</th>
          <td>{{ product.productName }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <a
              class="btn btn-info mx-1"
              [routerLink]="['/products', product.id, 'edit']"
            >
              edit
            </a>
            <button
              class="btn btn-danger mx-1"
              (click)="deleteProduct(product.id)"
            >
              delete
            </button>
            <a
              class="btn btn-warning mx-1"
              [routerLink]="['/products', product.id]"
              >view</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
